# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Файлы сборки и временные файлы
bin/
obj/
Debug/
Release/
out/

# Файлы NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Конфигурация Mac/Linux
*.pidb
*.mdb
*.opendb
*.VC.db
*.pyc
*.pyo
*.log
*.vs/
.vsconfig

# Конфигурация Windows
*.dbmdl
*.jfm
*.sqlite

# Конфигурация Rider/JetBrains
.idea/
*.sln.iml
*.sln.ide/

# Конфигурация для Visual Studio Code
.vscode/
launch.json
tasks.json

# Secrets
appsettings.Development.json
appsettings.*.json
appsettings.json

# Git-specific
*.orig

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*~
*.tmp
